@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 3.125rem;
    }
    
    .logo h1 {
        font-size: 2.5rem;
    }
    
    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
       padding: 3.125rem 0;
    }

    .menu ul li a {
        font-size: 2.5rem;
        padding: 17px 40px;
    }

    .menu .cadastre-se {
        font-size: 1.125rem;
        padding: 15px 22px;
    }

}