@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');


body {
    font-family: 'Public Sans', sans-serif;
}

.cabecalho {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 1.25rem;
    font-weight: 800;
    margin-left: 5px;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    margin-left: 20px;
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
}

.menu ul li a:hover {
    background: #5BC241;
    color: #fff;
}

.menu .cadastre-se {
    font-weight: 300;
    background: #5BC241;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}